.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal.modal_open {
  opacity: 1;
  visibility: visible;
}
.modal__close-button {
  background: transparent url(/src/assets/closebutton.svg);
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  top: -45px;
  right: -45px;
  position: absolute;
  opacity: 100%;
  transition: 0.25s ease-in-out;
}
.modal__close-button:hover {
  opacity: 60%;
}
.modal__form-container {
  background-color: white;
  max-width: 360px;
  width: 100%;
  border-radius: 16px;
  position: relative;
  padding: 34px 36px 28px;
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
}

.modal.modal_open .modal__form-container {
  transform: scale(1);
}
.modal__title {
  margin: 0;
  font-family: "roboto-900";
}
.modal__label {
  display: flex;
  flex-direction: column;
  padding: 22px 0 0;
  color: #2f71e5;
  font-family: "inter-400-regular";
  font-size: 12px;
}
.modal__input {
  width: 100%;
  line-height: 20px;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 9px 0 0;
  font-family: "inter-400-regular";
  font-size: 14px;
}
.modal__bottomlabel {
  display: flex;
  flex-direction: column;
  padding: 31px 0 39px;
  color: #2f71e5;
  font-family: "inter-400-regular";
  font-size: 12px;
}
.modal__button {
  background: #2f71e5;
  padding: 20px 115px;
  border: 1px;
  border-radius: 50px;
  font-family: "roboto-500";
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  opacity: 100%;
  transition: 0.25s ease-in-out;
}
.modal__button:hover {
  opacity: 60%;
}
.modal__button-container {
  display: flex;
  flex-direction: column;
}
.modal__button-register {
  margin: 16px 0 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #2f71e5;
  font-family: "inter-400-regular";
  font-size: 14px;
  opacity: 100%;
  transition: 0.25s ease-in-out;
}
.modal__button-register:hover {
  opacity: 60%;
}
