.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear 0.5s, opacity 0.5s linear;
}

.modal_open {
  visibility: visible;
  opacity: 1;
  transition: visibility delay 0.5s linear 0.5s, opacity 0.5s linear;
}
.modal__close-button {
  background: transparent url(/src/assets/closebutton.svg);
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  top: -45px;
  right: -45px;
  position: absolute;
  opacity: 100%;
  transition: 0.25s ease-in-out;
  background-size: cover;
}
.modal__close-button:hover {
  opacity: 60%;
}
.modal__form-container {
  background-color: white;
  max-width: 360px;
  width: 100%;
  border-radius: 16px;
  position: relative;
  padding: 34px 36px 28px;
}

.modal__title {
  margin: 0;
  font-family: "roboto-900";
  padding: 0 0 22px;
  font-size: 24px;
}
.modal__label {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
  color: #2f71e5;
  font-family: "inter-400-regular";
  font-size: 12px;
}
.modal__input {
  width: 100%;
  line-height: 20px;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 9px 0 0;
  font-family: "inter-400-regular";
  font-size: 14px;
}
.modal__label-bottom {
  display: flex;
  flex-direction: column;
  margin: 0 0 39px;
  color: #2f71e5;
  font-family: "inter-400-regular";
  font-size: 12px;
}
.modal__button {
  background: #2f71e5;
  padding: 20px 115px;
  border: 1px;
  border-radius: 50px;
  font-family: "roboto-500";
  font-size: 18px;
  color: #ffffff;
  white-space: nowrap;
  cursor: pointer;
  opacity: 100%;
  transition: 0.25s ease-in-out;
}
.modal__button:hover {
  opacity: 60%;
}
.modal__button-container {
  display: flex;
  flex-direction: column;
}
.modal__button-switch {
  border: none;
  background: none;
  cursor: pointer;
  color: #2f71e5;
  font-family: "inter-400-regular";
  font-size: 14px;
  opacity: 100%;
  transition: 0.25s ease-in-out;
  padding: 0;
}
.modal__button-switch:hover {
  opacity: 60%;
}
.modal__button-wrapper {
  display: flex;
  justify-content: center;
  margin: 16px 0 0;
  gap: 5px;
}

.modal__button-text {
  font-family: "inter-400-regular";
  font-size: 14px;
}
@media screen and (max-width: 610px) {
  .modal__close-button {
    right: 22px;
    height: 24px;
    width: 24px;
    background-size: contain;
  }
  .modal {
    padding-top: 56px;
    align-items: normal;
  }
  .modal__form-container {
    padding: 16px;
  }
}
