.saved-news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  grid-gap: 16px;
  justify-content: center;
  padding: 0;
  padding: 62px 106px;
  background: rgba(245, 246, 247, 1);
}
