.about__image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  object-fit: cover;

  flex-shrink: 0;
}
.about {
  padding: 80px 216px 80px 104px;
}
.about__content {
  padding: 0 0 0 56px;
}
.about__title {
  margin: 0;
  padding: 51px 0 24px;
  font-family: "roboto-slab-400-regular";
  font-size: 40px;
  font-weight: 400;
}
.about__description {
  margin: 0;
  max-width: 600px;
  font-family: "roboto-400-regular";
  font-size: 18px;
  font-weight: 400;
}
.extra-space {
  margin-bottom: 20px;
}
.about__container {
  display: flex;
}
