.about__image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  object-fit: cover;

  flex-shrink: 0;
}
.about {
  padding: 80px 15% 80px 7.2%;
}
.about__content {
  padding: 0 0 0 56px;
}
.about__title {
  margin: 0;
  padding: 51px 0 24px;
  font-family: "roboto-slab-400-regular";
  font-size: 40px;
  font-weight: 400;
}
.about__description {
  margin: 0;
  max-width: 600px;
  font-family: "roboto-400-regular";
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 34px 0;
}
.extra-space {
  margin-bottom: 20px;
}
.about__container {
  display: flex;
}
@media screen and (max-width: 815px) {
  .about__image {
    width: 232px;
    height: 232px;
  }
  .about {
    padding: 40px 40px 61px;
  }
  .about__title {
    margin: 0;
    padding: 0 0 16px;
    font-size: 30px;
  }
}
@media screen and (max-width: 610px) {
  .about__image {
    width: 272px;
    height: 272px;
  }
  .about__container {
    flex-direction: column;
    align-items: center;
  }
  .about__title {
    padding-top: 24px;
  }
  .about__content {
    padding: 0;
  }
  .about {
    padding: 32px 24px 94px;
  }
}
