.search-form {
  padding: 80px 104px;
}
.search-form__subHeader {
  font-family: "roboto-400-regular";
  color: #ffffff;
  font-size: 18px;
  margin: 0;
  padding: 32px 0 80px;
  font-weight: 400;
}
.search-form__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto 0;
  max-width: 608px;
  position: relative;
}
.search-form__header {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-family: "roboto-slab-400-regular";
  color: #ffffff;
  font-weight: 400;
}
.search-form__input {
  padding: 22px 21px;
  width: 563px;
  border-radius: 50px;
  border: none;
}
.search-form__button {
  padding: 22px 56px;
  border-radius: 50px;
  border: none;
  position: absolute;
  background: #2f71e5;
  right: 0px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.25s ease-in-out;
  opacity: 100%;
}

.search-form__button:hover {
  opacity: 1;

  background-color: rgba(52, 126, 255, 1);
}

.cards {
  max-width: 35px;
}
