.preloader {
  display: flex;
  background-color: #f5f6f7;
  justify-content: center;
}
.circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 540px;
  margin: auto;

  animation: spin 0.75s infinite linear;
}
.preloader__text {
  margin: 98px 0 0;
  font-family: "roboto-400-regular";
  color: #b6bcbf;
  font-size: 18px;
  font-weight: 400;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 815px) {
  .circle-preloader {
    top: 115px;
  }
}
@media screen and (max-width: 610px) {
  .circle-preloader {
    top: 315px;
  }
}
