.header {
  margin: 0 auto;
  background-image: url(../../assets/headerbackground.svg);
  height: 576px;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
.header_saved-news {
  color: black;
  background-image: none;
  height: auto;
}
