.header {
  margin: 0 auto;
  background-image: url(../../assets/headerbackground.svg);
  height: 576px;
  background-position: center;
  background-size: cover;
}
.header__nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 19px 104px 13px 104px;
  border-bottom: 1px solid rgba(246, 244, 244, 0.7);
  /* position: fixed;
  width: -webkit-fill-available; */
}
.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "roboto-slab-700";
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 42px;
}
.header__button-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border-radius: 100px;
  padding: 12px;
  width: 152px;
  font-family: "roboto-500";
  color: #ffffff;
  border-color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  width: 176px;
  border-style: solid;
  border-width: 1px;
}
.header__button-home {
  border: none;
  background: none;
  cursor: pointer;
  font-family: "roboto-500";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.header__saved-news {
  cursor: pointer;
  font-family: "roboto-500";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 34px;
}

.header__signin-container {
  gap: 64px;
  display: flex;
  align-items: center;
}
.header__profile {
  display: flex;
  gap: 20px;
  padding: 12px 15px 12px 19px;
  border-radius: 50px;
  background: transparent;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  border-color: #ffffff;
  cursor: pointer;
  font-family: "roboto-500";
  font-weight: 500;
  font-size: 18px;
  align-items: center;
}
