.footer {
  height: 64px;
}
.footer__content {
  display: flex;
  align-items: center;
  padding: 32px 104px 26px;
  justify-content: space-between;
}
.footer__copyright {
  margin: 0;
  font-family: "roboto-400-regular";
  font-size: 16px;
  font-weight: 400;
  color: #b6bcbf;
}
.footer__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__link-home {
  margin-right: 40px;
  cursor: pointer;
  font-family: "roboto-400-regular";
  font-size: 18px;
  font-weight: 400;
}
.footer__link-tripleTen {
  cursor: pointer;
  font-family: "roboto-400-regular";
  font-size: 18px;
  font-weight: 400;
}
.footer__link-github {
  padding: 0 24px 0 40px;
}
.footer__link-icon {
  cursor: pointer;
}
