.news-card-link {
  text-decoration: none;
  color: inherit;
}
.news-card__info {
  background: #fff;
  height: 260px;
  padding: 20px 24px 24px;
  border-radius: 0px 0px 15px 15px;
}
.news-card-list__header {
  margin: 0;
  font-family: "roboto-slab-400-regular";
  font-size: 40px;
  font-weight: 400;
}
.news-card__content {
  display: flex;
  flex-direction: column;
  position: relative;
}
.news-card__image {
  height: 272px;
  border-radius: 15px 15px 0px 0px;
}
.news-card__save-button {
  position: absolute;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.news-card__save-icon {
  opacity: 0.7;
  transition: opacity 0.3s ease, filter 0.3s ease;
  padding: 8px;
}

.news-card__save-icon:hover {
  opacity: 1;
  filter: brightness(0) saturate(100%) invert(12%) sepia(8%) saturate(1286%)
    hue-rotate(186deg) brightness(100%) contrast(92%);
}
.news-card__date {
  font-family: " SourceSansPro-Regular";
  font-weight: 400;
  font-size: 18px;
  color: rgba(182, 188, 191, 1);
  margin: 0;
}
.news-card__article-title {
  margin: 12px 0 16px;
  font-family: "roboto-slab-400-regular";
  font-size: 26px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news-card__description {
  margin: 0;
  font-family: "roboto-400-regular";
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news-card__publisher {
  margin: 0;
  padding-top: 18px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  font-family: "roboto-slab-700";
  font-size: 16px;
  font-weight: 700;
  color: rgba(182, 188, 191, 1);
}
.news-card__save-hover {
  visibility: hidden;
  width: 182px;
  background-color: #ffffff;
  font-family: "roboto-500";
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  padding: 12px 0;
  position: absolute;
  z-index: 1;
  right: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.news-card__save-button:hover .news-card__save-hover {
  visibility: visible;
  opacity: 1;
}
